logs
.idea
**.idea
**.settings
.project
**.classpath
**target
**.iml
*/target
**.project
**.ipr
**.iws
**.settings
**.svn
**/target
**/test-output
**.DS_Store
*.externalToolBuilders/
eclipse.bat
*/.springBeans
reactor.bat
website/cas/overlays/
**.bak
**/target/**
**/bin/**
/jooq-test/api/
